<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Aoe_Static>
            <version>0.1.0</version>
        </Aoe_Static>
    </modules>

    <global>
        <blocks>
            <aoestatic>
                <class>Aoe_Static_Block</class>
            </aoestatic>
            <core>
                <rewrite>
                    <messages>Aoe_Static_Block_Core_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <models>
            <aoestatic>
                <class>Aoe_Static_Model</class>
                <resourceModel>aoestatic_resource</resourceModel>
            </aoestatic>
            <aoestatic_resource>
                <class>Aoe_Static_Model_Resource</class>
                <entities>
                    <tag>
                        <table>aoe_static_tag</table>
                    </tag>
                    <urltag>
                        <table>aoe_static_urltag</table>
                    </urltag>
                    <url>
                        <table>aoe_static_url</table>
                    </url>
                    <purgeurl>
                        <table>aoe_static_purgeurl</table>
                    </purgeurl>
                </entities>
            </aoestatic_resource>
        </models>
        <resources>
            <aoestatic_setup>
                <setup>
                    <module>Aoe_Static</module>
                </setup>
            </aoestatic_setup>
            <aoestatic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aoestatic_write>
            <aoestatic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aoestatic_read>
        </resources> 
        <helpers>
            <aoestatic>
                <class>Aoe_Static_Helper</class>
            </aoestatic>
        </helpers>
        <cache>
            <types>
                <aoestatic translate="label,description" module="varnish">
                    <label><![CDATA[Varnish™]]></label>
                    <description><![CDATA[Full page cache in Varnish™]]></description>
                    <tags></tags>
                </aoestatic>
            </types>
        </cache>
        <events>
            <!-- Purge tags related urls (cms/categorie/product) -->
            <application_clean_cache>
                <observers>
                    <aoestatic>
                        <class>aoestatic/cache</class>
                        <type>singleton</type>
                        <method>purgeCache</method>
                    </aoestatic>
                </observers>
            </application_clean_cache>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <aoestatic>
                        <class>aoestatic/observer</class>
                        <method>cleanVarnishCache</method>
                    </aoestatic>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
        </events>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <aoestatic>
                    <file>aoestatic/aoestatic.xml</file>
                </aoestatic>
            </updates>
        </layout>
        <routers>
            <aoestatic>
                <use>standard</use>
                <args>
                    <module>Aoe_Static</module>
                    <frontName>phone</frontName>
                </args>
            </aoestatic>
        </routers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <aoestatic>
                        <class>aoestatic/observer</class>
                        <type>singleton</type>
                        <method>htmlAfter</method>
                    </aoestatic>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_front_send_response_after>
                <observers>
                    <aoestatic>
                        <class>aoestatic/cache</class>
                        <method>saveTags</method>
                    </aoestatic>
                </observers>
            </controller_front_send_response_after>
            <!-- Setting the response headers to control varnish -->
            <controller_action_predispatch>
                <observers>
                    <aoestatic>
                        <class>aoestatic/observer</class>
                        <method>processPreDispatch</method>
                    </aoestatic>
                </observers>
            </controller_action_predispatch>
            <!-- Creating a new layout handle "aoestatic_cacheable" or "aoestatic_notcacheable"-->
            <controller_action_layout_load_before>
                <observers>
                    <aoestatic_cacheable>
                        <class>aoestatic/observer</class>
                        <method>beforeLoadLayout</method>
                    </aoestatic_cacheable>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <default>
        <system>
            <aoe_static>
                <cache_actions><![CDATA[cms_index_index;86400,
cms_page_view;86400,
catalog_product_view;86400,
catalog_category_view;86400]]>
                </cache_actions>
                <page_size>10</page_size>
                <page_count>10</page_count>
            </aoe_static>
        </system>
    </default>
    <!-- temporärer cron zum cache leeren nach bestandsabgleich - nur verwendet bis async leeren umgesetzt -->
    <crontab>
        <jobs>
            <purge_varnish>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>aoestatic/cache::processPurge</model></run>
            </purge_varnish>
        </jobs>
    </crontab>
</config>
